<div class="landing-page">
  <div class="actions">

    <div class="page-header">
      About
    </div>

    <br/>
    <br/>

    <div class="page-header">
      Contact Us
    </div>
    <form name="form" role="form" class="form-centered" ng-submit="submitContact(form)">

      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="email"
               required="true"
               type="email"
               name="email">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="name"
               required="true"
               name="name">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Phone</label>
        <input ng-model="phone"
               required="true"
               name="name">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Message</label>
        <textarea ng-model="message"
                  required="true"
                  rows="4"
                  name="message"/>
      </md-input-container>

      <div class="pull-right">
        <md-button type="submit" class="md-default md-raised">
          Send Message
        </md-button>
      </div>
    </form>


  </div>
  <div ng-include="'/app/Layout/views/banner.html'"></div>
</div>
