<div class="single-column --center">
  <div class="page-header">
    Privacy Policy
  </div>
  <div class="static-content">
    <div class="date-at">
      This Privacy Policy as published on {{date | date:'d MMMM, y'}}
    </div>


    <div class="txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit ante in velit pharetra hendrerit.
      Proin sapien eros, finibus quis nisi ut, viverra maximus ante. Cras et ligula sed tortor feugiat pretium fringilla
      eu nulla. Maecenas eu commodo lacus, id varius quam. Donec facilisis feugiat sapien, in dignissim arcu aliquet eu.
      Donec accumsan, quam tincidunt consequat auctor, dui augue ultricies urna, vel eleifend orci elit id sapien.
      Nullam arcu neque, faucibus ut molestie at, maximus vel nulla.
    </div>

    <div class="title">1. DEFINITIONS</div>

    <div class="txt">
      Quisque non ex in diam vehicula bibendum eu non quam. Nam pellentesque, nibh et molestie malesuada, mi ante
      hendrerit elit, at dignissim metus dui ut erat. Proin sit amet semper erat. In malesuada lacus nec nisi dictum
      pulvinar. Pellentesque at maximus nisl. Vestibulum vulputate ex ac felis consectetur vehicula eget sed nisl. Proin
      lobortis ante in urna vulputate malesuada. Fusce sit amet placerat eros. Etiam a orci libero. Donec euismod lorem
      lectus, vel pretium risus tempor vitae. In sit amet quam euismod, commodo diam quis, bibendum dolor. Curabitur
      euismod arcu dolor, id suscipit sapien tristique eu. Donec porttitor dolor in ullamcorper viverra.
    </div>

    <div class="title">2. PROCESSING OF PERSONAL DATA</div>

    <div class="txt">
      Quisque porttitor dictum libero, vitae sollicitudin odio blandit eu. Vivamus ipsum diam, feugiat ac placerat eget,
      pellentesque vitae nisl. Maecenas consequat sapien id magna imperdiet tincidunt. Aenean congue ipsum ex. Nullam
      leo lectus, volutpat et magna sit amet, facilisis vulputate nisi. Quisque leo ipsum, tristique quis faucibus
      pharetra, sodales quis arcu. Mauris faucibus enim a libero rhoncus, vitae dictum lectus ornare. Aenean erat leo,
      rhoncus id tempor eget, cursus dictum ligula. In hac habitasse platea dictumst. Praesent varius eros ac
      consectetur ornare. Proin faucibus mattis ex.
    </div>

  </div>
</div>
