<div class="single-column --center">
  <div class="page-header">
    Terms of Use
  </div>
  <div class="static-content">
    <div class="date-at">
      These Terms of Service as published on {{date | date:'d MMMM, y'}}
    </div>

    <div class="txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit ante in velit pharetra hendrerit.
      Proin sapien eros, finibus quis nisi ut, viverra maximus ante. Cras et ligula sed tortor feugiat pretium fringilla
      eu nulla. Maecenas eu commodo lacus, id varius quam. Donec facilisis feugiat sapien, in dignissim arcu aliquet eu.
      Donec accumsan, quam tincidunt consequat auctor, dui augue ultricies urna, vel eleifend orci elit id sapien.
      Nullam arcu neque, faucibus ut molestie at, maximus vel nulla.
    </div>

    <div class="title">1. DEFINITIONS</div>

    <div class="txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit ante in velit pharetra hendrerit.
      Proin sapien eros, finibus quis nisi ut, viverra maximus ante. Cras et ligula sed tortor feugiat pretium fringilla
      eu nulla. Maecenas eu commodo lacus, id varius quam. Donec facilisis feugiat sapien, in dignissim arcu aliquet eu.
      Donec accumsan, quam tincidunt consequat auctor, dui augue ultricies urna, vel eleifend orci elit id sapien.
      Nullam arcu neque, faucibus ut molestie at, maximus vel nulla.
    </div>

    <div class="title">2. PRIVACY POLICY</div>

    <div class="txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit ante in velit pharetra hendrerit.
      Proin sapien eros, finibus quis nisi ut, viverra maximus ante. Cras et ligula sed tortor feugiat pretium fringilla
      eu nulla. Maecenas eu commodo lacus, id varius quam. Donec facilisis feugiat sapien, in dignissim arcu aliquet eu.
      Donec accumsan, quam tincidunt consequat auctor, dui augue ultricies urna, vel eleifend orci elit id sapien.
      Nullam arcu neque, faucibus ut molestie at, maximus vel nulla.
    </div>
    <div class="title">3. YOUR ACCOUNT AND SECURITY</div>

    <div class="txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit ante in velit pharetra hendrerit.
      Proin sapien eros, finibus quis nisi ut, viverra maximus ante. Cras et ligula sed tortor feugiat pretium fringilla
      eu nulla. Maecenas eu commodo lacus, id varius quam. Donec facilisis feugiat sapien, in dignissim arcu aliquet eu.
      Donec accumsan, quam tincidunt consequat auctor, dui augue ultricies urna, vel eleifend orci elit id sapien.
      Nullam arcu neque, faucibus ut molestie at, maximus vel nulla.
    </div>
  </div>
</div>
