<div class="page-header">
  Change password
</div>

<form name="form" role="form" class="form-centered" ng-submit="changePassword(form)">

  <md-input-container class="md-block">
    <label>New password</label>
    <input ng-model="formData.password"
           minlength="4"
           required="true"
           type="password"
           name="password">
  </md-input-container>
  <md-input-container class="md-block">
    <label>Confirm password</label>
    <input ng-model="formData.confirm_password"
           minlength="4"
           required="true"
           type="password"
           name="confirm_password"
           ui-validate=" '$value==formData.password' "
           ui-validate-watch=" 'formData.password' ">
  </md-input-container>

  <span class="input-error v1-mod" ng-show="form.password.$error.minlength">
    Password must be at least 4 characters
  </span>
  <span class="input-error v1-mod" ng-show='form.confirm_password.$error.validator'>
    Password's do not match
  </span>

  <div class="pull-right">
    <md-button type="submit" class="md-default md-raised">
      Submit
    </md-button>
  </div>
</form>
