#activity-new {
  .toolbar {
    border-radius: 2px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
  }
  // Mobiles ========================================================================
  @media only screen and (min-width: 320px) and (max-width: 767px) {
  }
}
