<div class="landing-page">
  <div class="actions">
    <div class="page-header">
      Reset Password
    </div>

    <form name="form"
          role="form"
          class="form-centered"
          ng-submit="submitPasswordReset(form)">

      <md-input-container class="md-block">
        <label>Password</label>
        <input ng-model="password" type="password" minlength="4" name="password" required="true">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Conform Password</label>
        <input ng-model="confirmation"
               minlength="4"
               type="password"
               ui-validate="'$value==password'"
               ui-validate-watch="'password'"
               name="confirmation"
               required="true">
      </md-input-container>
      <span class="input-error" ng-show='form.confirmation.$error.validator'>
        Password's do not match(or small)
      </span>

      <div class="login-buttons">
        <md-button type="submit" class="md-primary md-raised">
          Change Password
        </md-button>
      </div>
    </form>
  </div>
  <div ng-include="'/app/Layout/views/banner.html'"></div>
</div>
