<div class="landing-page">
  <div class="actions">
    <div class="page-header">
      Forgot Password?
    </div>

    <form name="form"
          role="form"
          class="form-centered"
          ng-submit="submitPasswordForgot(form)">

      <md-input-container class="md-block">
        <label>E-Mail</label>
        <input ng-model="email" name="email" required="true">
      </md-input-container>

      <div class="login-buttons">
        <md-button type="submit" class="md-primary md-raised">
          <i class="material-icons">done</i>
          Reset password
        </md-button>
        <md-button ui-sref="userLogin">Log in</md-button>
      </div>
    </form>
  </div>
  <div ng-include="'/app/Layout/views/banner.html'"></div>
</div>
