.navbar-brand {
  margin-left: 0;
  color: #fff;
  position: relative;
  padding: 10px;
  float: left;
  height: 50px;
  background: #df0000;
  .logo {
    height: 25px;
    width: 41px;
    margin-top: 2px;
  }
  .logo-text {
    padding-left: 10px;
    font-weight: 500;
    font-size: 22px;
    float: right;
    margin-top: 0px;
    color: #fff;
    small {
      font-size: 10px;
      right: 10px;
      position: absolute;
      top: 30px;
      color: #fff;
      font-weight: 500;
    }
  }
}

.profile-dropdown {
  user-profile {
    position: relative;
    display: block;
    float: left;
    margin-top: 7px;
    margin-left: -3px;
    margin-right: 14px;
  }
  md-menu-item > .md-button p {
    line-height: 3.1;
  }
  md-menu-item > a.md-button {
    padding-top: 2px;
  }
}

#navigation-header {
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid #f2f2f2;
  background: #fff;
  left: 0;
  .md-button {
    margin-top: 7px;
    color: #666;
  }
  .user-account {
    float: right;
  }
  .user-account-header {
    float: right;
    position: relative;
    cursor: pointer;
    .username {
      float: left;
      height: 50px;
      line-height: 50px;
      padding: 0 0px 0 15px;
      font-weight: 500;
      font-size: 14px;
      color: #09c;
    }
    .photo {
      float: right;
      padding-top: 10px;
      padding-right: 15px;
      display: block;
      height: 49px;
      padding-left: 15px;
    }
    .trigger {
      &:focus {
        outline: none !important;
      }
    }

    &:focus {
      outline: none !important;
    }
  }
  // When user ========================================================================
  &.mod-user {
    .new-activity {
      margin-right: 40px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  #navigation-header {
    .logo-text {
      display: none;
    }
    .user-account-header .username {
      display: none;
    }
  }
}
