.comments {
  &.mod-details {
    padding-bottom: 30px;
    margin-top: 10px;
  }
  &.mod-collection {
    padding-bottom: 0;
    display: inline-block;
    width: 100%;
  }

  .comments-heading {
    color: #999;
    display: inline-block;
    margin-top: 10px;

    i {
      font-size: 18px;
      line-height: 1;
      vertical-align: sub;
      margin-right: 3px;
      float: left;
    }
    span {
      font-size: 13px;
      float: left;
      margin-top: 4px;
      font-weight: 400;
      margin-left: 5px;
      * {
        font-weight: 400;
      }
    }
  }
  .comment {
    width: 100%;
    clear: both;
    display: inline-block;
    margin-top: 15px;

    &.mod-reply {
      padding-left: 20px;
      margin-bottom: 20px;
    }
    user-profile {
      float: left;
      margin-right: 10px;
    }
    .comment-body {
      margin-bottom: 10px;

      .comment-heading {
        color: #999;
        font-size: 12px;
        margin-top: 0px;
        padding-bottom: 5px;
        .user-name {
          color: #555;
          font-size: 14px;
          font-weight: 500;
        }
      }
      .comment-text {
        position: relative;
        font-size: 14px;
        font-weight: 300;
        span {
          color: #999;
          font-weight: 400;
          font-size: 12px;
        }
        .write-comment {
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
      .reply-button {
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        font-size: 12px;
        background: #ce2125;
        padding: 5px 10px 3px;
        cursor: pointer;
        height: 22px;
        font-weight: 400;
        border-radius: 2px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}

// Mobiles ========================================================================
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .activity-stream {
    .comments {
      .comments-heading {
        position: absolute;
        top: 12px;
        left: 90px;
        cursor: default;
        i {
          font-size: 24px;
          line-height: 1;
          vertical-align: sub;
          margin-right: 3px;
          float: left;
        }
        span {
          margin-top: 5px;
          text-decoration: underline;
          color: #aaa;
        }
      }
      .write-comment,
      .comments-collection {
        display: none;
      }

      &.mod-visible {
        .write-comment,
        .comments-collection {
          display: block;
        }
      }
    }
  }
}
