<div class="sidenav-heading --separator-top">
  More
</div>
<md-list-item md-ink-ripple ui-sref="about">
  <md-item-content layout="row" layout-align="start center">
    <span>About</span>
  </md-item-content>
</md-list-item>
<md-list-item md-ink-ripple ui-sref="terms">
  <md-item-content layout="row" layout-align="start center">
    <span>Terms of Service</span>
  </md-item-content>
</md-list-item>
<md-list-item md-ink-ripple ui-sref="privacy">
  <md-item-content layout="row" layout-align="start center">
    <span>Privacy Policy</span>
  </md-item-content>
</md-list-item>
