<div class="single-column --center">
  <div class="page-header">
    Privacy Policy
  </div>
  <div class="static-content">
    <div class="date-at">
      This Privacy Policy as published on {{date | date:'d MMMM, y'}}
    </div>


    <div class="txt">
      This Privacy Policy sets out what Personal Data are processed, how Personal Data are used and how it may be shared
      whenever you (referred to as "you") are using the website (http://resport.today), application program
      interfaces (referred to as the "Platforms"), which are owned and controlled by resort (referred to as "we").
      We recognize and respect the protection of your fundamental rights and freedoms and in particular your right to
      privacy with respect to the Processing of Personal Data. We have adopted the Privacy Policy to outline all issues
      with regard to the Processing of Personal Data on the Platforms.
      You shall read the Privacy Policy carefully before using the Platforms. By using the Platforms you give us
      unambiguously explicit consent to the Processing of your Personal Data in accordance with the Privacy Policy. If
      you
      do not read or if you do not agree to some provisions of the Privacy Policy you shall not use the Platforms.
      We recommend you to print a copy of the Privacy Policy for your records.
    </div>

    <div class="title">1. DEFINITIONS</div>

    <div class="txt">
      1.1 “Account” shall mean an account that you create by signing up or you use by signing in through your device
      when
      you use the Platforms.
      1.2 "Content" shall mean and include any data, text, information, images, graphics, photos, music, audio
      materials,
      video materials, software, profiles, works of authorship, links and other content or materials that are available
      on
      the Platforms regardless of whether they are published by you, us or a third party.
      1.3 "Personal Data" shall mean any information relating to an identified or identifiable individual where an
      identifiable individual is one who can be identified, directly or indirectly, in particular by reference to an
      identification number or to one or more factors specific to his physical, physiological, mental, economic,
      cultural
      or social identity.
      1.4 "Processing" shall mean any operation or set of operations which is performed upon Personal Data, whether or
      not
      by automatic means, such as collection, recording, organization, storage, adaptation or alteration, retrieval,
      consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or
      combination, blocking, erasure or destruction.
    </div>

    <div class="title">2. PROCESSING OF PERSONAL DATA</div>

    <div class="txt">
      2.1 We may collect your Personal Data in a variety of ways including, but not limited to, when you visit the
      Platforms, when you create an Account on the Platforms; when you fill out any form; when you upload and share
      Content; when you send us an e-mail; and in connection with other activities, services, features or resources we
      make available on the Platforms. In no event do we collect or process your sensitive Personal Data.
      2.2 We use your profile's information on third-party social networking websites when you register through
      third-party social networking websites to register you. When you click on one of the buttons and register with
      your
      third-party social networking websites account, information is shared with and stored in our servers.
      2.3 We may process your Personal Data for the following purposes:
      - to run and operate the Platforms;
      - to establish your identity;
      - to resolve problems on the Platforms;
      - to enforce the Terms of Service;
      - to protect you or us from criminal activity;
      - to respond to inquiries, questions or other requests;
      - to provide and improve any activities, services, features or resources we make available on the Platforms;
      - to ensure and improve the security of our network and the Platforms;
      - provide, improve, test, and monitor the effectiveness of the Platforms;
      - develop and test new products and features;
      - for statistical purposes; and
      - in cases required by law.
    </div>


    <div class="txt">
      2.4 Your Personal Data may include:
      - last name;
      - first name;
      - valid e-mail address;
      - location;
      - mobile number;
      - device and browser identifiers which are under the definition of the Personal Data;
      - your profile's information on third-party social networking websites such as Facebook, Google+ or other similar
      third-party social networking websites;
      - your Content which is under the definition of the Personal Data;
      - communication between you and us and any information you send us which is under the definition of the Personal
      Data.
      2.5 We may share your Personal Data with third parties in cases when:
      - you use the Services;
      - you publish news;
      - you comment on news;
      - we are required by law or it is strictly necessary for the prevention, detection or prosecution of criminal acts
      and fraud to share such Personal Data with law enforcement and other governmental authorities;
      - we are required to share such Personal Data with our business partners in accordance with concluded contracts.
      2.6 You may request a destruction of your Personal Data. In this case, we check whether this request has been done
      by you and may require you to provide you identification documents. The check cannot exceed 30 working days from
      the
      date a request sent. If your domestic law requires a period less than 30 working days for the destruction, we will
      undertake the check as soon as reasonably possible in accordance with your domestic law. We may retain your
      Personal
      Data to comply with any national, federal, state or local law, to prevent fraud, resolve disputes, troubleshoot
      problems, assist with any investigations, enforce the Terms of Service, and take other actions otherwise permitted
      by law.
      2.7 You may request in writing copies of your Personal Data held by us. We will provide you with a copy of your
      Personal Data held by us within 30 working days after receiving a valid request in writing. There may be a charge
      to
      access your Personal Data about which we will notify you through your e-mail. In this case we may require you to
      provide you identification documents to verify your access request.
      2.8 You shall recognize and respect the right to privacy of other individuals. You may display individuals or
      their
      property on the Platforms only with consent of those individuals.
      You are solely responsible for displaying people or their property without consent.
      We are not responsible for such displaying and if this happens, we shall within reasonable time undertake the
      destruction of such Content once we are notified through service@resport.today.
    </div>

    <div class="title">3. SECURITY</div>

    <div class="txt">
      3.1 We adopt appropriate Processing practices and security measures to protect you against unauthorized access,
      alteration, disclosure or destruction of your Personal Data stored on our servers.
      3.2 You are responsible for maintaining the security of your Account and device, and for providing actual Personal
      Data. You agree to notify us immediately of any unauthorized use of your Account or of any other breach of
      security
      known with regard to the use of the Platforms.
      3.3 We will keep your Personal Data and Content in a secure database and will undertake all the reasonable
      precautions to prevent the loss, misuse and piracy of your Personal Data and Content by other users or third
      parties.
      3.4 We will not sell your Personal Data and Content, except as provided in clause 5.7. of the Privacy Policy. Your
      Personal Data and Content or any part thereof may, however, be shared with other users for exchange of information
      and providing services available on the Platforms. The Content may be altered and presented to other users in a
      different format as required by the Platforms.
      3.5 We are not responsible and do not have control over any third-party website or service that you authorize to
      access the Platforms. If you are using a third-party website or service and you allow them to access the Platforms
      you do so at your own risk.
    </div>

    <div class="title">4. COOKIE POLICY</div>

    <div class="txt">
      4.1 We use cookies to allow you to be recognized as the same user across the Platforms and to allow your choices
      to
      be remembered such as the language you prefer and your search criteria. Cookies will make sure you are recognized
      when you return to the Platforms. We may use cookies for online advertising and marketing companies.
      4.2 The Platforms use the following types of cookies:
      - technical cookies to show you the Platforms, to make them function correctly, to create your Account, to sign
      you
      in and to manage your reservations;
      - functional cookies to remember your preferences and to help you to use the Platforms efficiently and
      effectively,
      for example by remembering your preferred currency and language, your searches and any posts you viewed earlier;
      - analytics cookies to gain insight into how you use the Platforms, to find out what works and what doesn't, to
      optimize and improve the Platforms and to ensure we continue to be interesting and relevant (analytics cookies
      include pages you have viewed, which referring/exit pages you have entered and left from, which device and
      platform
      type you have used, date and time stamp information and details such as the number of clicks you make on a given
      page, your mouse movements and scrolling activity, the search words you use and the text you type while using the
      Platforms and analytics cookies also function as part of our online advertising campaigns to learn how users
      interact with the Platforms after they have been shown an online advertisement);
      - commercial cookies to display personalized advertisements on the Platforms (commercial cookies are based on
      browsing activities, such as the Venue you have been searching for, posts you have viewed and the prices you have
      been shown).
      4.3 We may process data about you whenever you interact with the Platforms. This data may include the browser
      name,
      the type of device and technical information about your means of connection to the Platforms, such as the
      operating
      system and Internet service provider and other relevant data.
      4.4 You may refuse cookies in your browser. In this case, some features of the Platforms may not function properly
      as a result. We are not responsible for this non-functionality.
      4.5 We may use third-party analytics tools to help us measure traffic and usage trends for the Platforms. These
      tools collect information sent by your device or the Platforms including the web pages you visit, add-ons, and
      other
      information that assists us in improving the Platforms. We may collect and use this analytics information with
      analytics information from other users so that it cannot reasonably be used to identify any particular users.
      4.6 Log file information (your web request, Internet Protocol address, browser type, referring/exit pages and
      URLs,
      a number of clicks and how you interact with links on the Platforms) may be automatically reported by your device
      each time you make a request to access the Platforms. It can also be provided when the Content of the Platforms is
      downloaded to your device. This information allows for more accurate reporting and improvement of the Platforms.
    </div>

    <div class="title">5. MISCELLANEOUS</div>

    <div class="txt">
      5.1 The Privacy Policy shall be governed, interpreted, construed, and enforced in accordance with the laws of the
      Russian Federation.
      5.2 Any dispute arising out of or in connection with the Privacy Policy, including any question regarding its
      existence, validity or termination, shall be referred to and finally resolved by the courts of the Russian
      Federation.
      5.3 The Platforms are not directed to children and children are not eligible to use them.
      We do not process Personal Data from people we actually know are under 18 years of age,
      and no part of the Platforms is designed to attract individuals under 18.
      If we ascertain that you are under 18, we will take steps to remove your Personal Data from our databases and to
      prevent you from using the Platforms.
      We are not responsible for such a removal and prevention.
      If you notice that any user is under 18, you shall notify us through service@resport.today.
      5.4 The Platforms may contain links to third-party websites or resources. You acknowledge and agree that we are
      not
      responsible or liable for the availability or accuracy of such links, where they refer to and all available
      Content
      through these links. You acknowledge responsibility for and assume all risk arising from your use of any such
      links.
      5.5 At our sole discretion, we may change the Privacy Policy at any time. If you continue to use the Platforms it
      means that you agree to the updated Privacy Policy. We will notify about such a change in accordance with the
      procedure set in the Terms of Service.
      5.6 If we undertake or are involved in any merger, acquisition, reorganization, sale of assets or bankruptcy or
      insolvency, then we may sell, transfer or share some or all of our assets, including your Personal Data. In this
      event, we will notify you before your Personal Data is transferred and becomes subject to a different privacy
      policy.
      5.7 With regard to any breach of your privacy, please contact us through service@resport.today.
    </div>
  </div>
</div>
