<div class="single-column --center">
  <div class="page-header">
    Terms of Use
  </div>
  <div class="static-content">
    <div class="date-at">
      These Terms of Service as published on {{date | date:'d MMMM, y'}}
    </div>

    <div class="txt">
      These Terms of Service belong to us and determine the terms of the use of the Platforms and the Services as well
      as the rights and obligations of its visitors, users and third parties whose rights and interests may be affected
      as the result of users' actions.
      These Terms of Service are a legally binding agreement between you as a visitor or user (referred to as "You"), on
      the one part, with regard to the Services provided on the website (http://resport.today/) and application
      program interfaces (hereinbefore and hereinafter "Platforms"), which is controlled and owned by us (referred to as
      "We"), on the other part.
      The Platforms allow users to publish news information through their accounts, comment on news and upload allowed
      content (hereinafter the "Services").
      You shall read the Terms of Service carefully before using the Platforms and the Services. By using the Platforms
      or the Services you agree that you have read, understood and accepted to be bound by the Terms of Service and to
      comply with all applicable laws. If you do not agree to the Terms of Service, you shall not use the Platforms and
      Services.
      You are obliged to be fully aware of these Terms of Service before registering at the Platforms and using the
      Services. Your registration at the Platforms and/or use of the Services means full and unconditional acceptance of
      the Terms of Service by you in accordance with Article 438 of the Russian Federation Civil Code.
      We recommend you to print a copy of the Terms of Service.
    </div>

    <div class="title">1. DEFINITIONS</div>

    <div class="txt">
      1.1 "Account" shall mean an account that you create by signing up or you use by signing in through your device
      when you use the Platforms.
      1.2 "Content" shall mean and include any data, text, information, images, graphics, photos, music, audio
      materials, video materials, software, profiles, works of authorship, links and other content or materials that are
      available on the Platforms regardless of whether they are published by you, us or a third party.
    </div>

    <div class="title">2. PRIVACY POLICY</div>

    <div class="txt">
      Our Privacy Policy is available on a separate page and explains to you how we process information about you. You
      shall understand that through your use of the Platforms and Services you acknowledge the processing of this
      information shall be undertaken in accordance with the Privacy Policy. If you do not agree to the Privacy Policy
      you shall stop using the Platforms and Services.
    </div>
    <div class="title">3. YOUR ACCOUNT AND SECURITY</div>

    <div class="txt">
      3.1 In order to use all the Services, you shall create an Account by inputting your personal data such as your
      username, first name, last name, e-mail, and other required information. You may register to use the Services
      directly through the Platforms.
      3.2 You may register to use the Services by logging into your account through third-party social networking
      websites such as Facebook, Google+ or other similar third-party social networking websites by using the
      Platforms. You guarantee that you may disclose your account information available on third-party social
      networking websites to us and/or grant us access to your account information available on third-party social
      networking websites, without violation of any of the terms that are applicable on third-party social networking
      websites. You agree that we will access, make available and store any Content that you have provided through
      third-party social networking websites in the manner that it is available on the Platforms. Relationships with
      the third-party social networking websites are governed by agreement(s) between you and third-party social
      networking websites.
      3.3 You may not have more than 1 (one) active Account. If you create more than 1 (one) Account, we may suspend
      or terminate your Account and your access to the Services and Content through the Platforms.
      3.4 When registering you shall provide accurate, current and complete information and when such information
      becomes out-of-date you shall update such information to keep it accurate, current and complete. If any
      information provided when registering is inaccurate, fraudulent, not current, incomplete, or otherwise in
      violation of these Terms of Service, we may suspend or terminate your Account and your access to the Services
      and Content through the Platforms.
      3.5 You are responsible for protecting your password, personal data, confidential information and other
      information. You shall not disclose your password to any third party and that you will take responsibility for
      any activities or actions under your Account, whether or not you have authorized such activities or actions. You
      shall immediately notify us of any unauthorized use of your Account through service@resport.today.
      3.6 We may, for prevention of crimes or other related purposes, ask you to provide a document proving your
      identification, your date of birth, and other necessary information.
    </div>

    <div class="title">4. USE OF THE SERVICES</div>

    <div class="txt">
      4.1 To use the Platforms or the Services you shall:
      - be entitled by your applicable law to be capable to enter into an agreement with us;
      - be at least 18 (eighteen) years old;
      - provide accurate, complete, and updated information;
      - have not been banned by us to use the Platforms and Services;
      - have an updated device to visit and use the Platforms and Services;
      - provide any additional information required by us for providing the Services;
      4.2 When using the Platforms or the Services you shall not:
      - violate any applicable law or any court decision applicable to the use of the Platforms or the Services;
      - use any means to access, "scrape," "crawl" or "spider" any Content on the Platforms;
      - use any Content for any commercial or other purposes that are inconsistent with the Terms of Service;
      - harm our brand in any way in a manner that it closely imitates or is confusingly similar to our domains,
      trademarks or any Content;
      - infringe our rights or the rights of any other person or entity including, but not limited to, their
      intellectual property, privacy, confidential or contractual rights;
      - interfere with or damage the Platforms or the Services, including, but not limited to, through the use of
      viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, backdoors, packet or
      IP spoofing, forged routing or electronic mail address information or similar methods or technology;
      - use the Platforms or the Services with regard to the distribution of unsolicited or undesired electronic
      messages or advertisements;
      - harass any user of the Services;
      - register for more than 1 (one) Account or register for an Account on behalf of an individual other than
      yourself;
      - engage in disruptive, circumventive, abusive or harassing behavior on the Platforms or with regard to the
      Services;
      - publish any Content that infringes, misappropriates or violates intellectual property rights or right to
      privacy; or violates, or encourages any conduct that would violate, any applicable law; or is fraudulent, false,
      misleading (directly or by omission or failure to update information) or deceptive; or is defamatory, obscene,
      pornographic, vulgar or offensive; or promotes discrimination, bigotry, racism, hatred, harassment or harm
      against any individual or group; or is violent or threatening or promotes violence or actions that are
      threatening to any other person;
      - circumvent any technological or security measure implemented on the Platforms;
      - attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the
      Platforms and the Services;
      - advocate, encourage, or assist any third party in doing any of what is prohibited by the Terms of Service.
      4.3 By using the Platforms or the Services you grant us a worldwide, non-exclusive, transferable, royalty-free,
      sub-licensable license to use, reproduce or distribute Content that you publish on or through the Platforms.
      4.4 By using the Platforms and Services, you agree that any legal remedy or liability that you seek to obtain
      for actions or omissions of other users or other third parties will be limited to a claim against the particular
      users or other third parties who caused you harm. You agree not to attempt to impose liability on or seek any
      legal remedy from us with respect to such actions or omissions.
      4.5 We may investigate any violation of the Terms of Service, Privacy Policy or applicable laws. We may, at our
      discretion, suspend or terminate your Account and your access to the Services and Content through the Platforms
      at any time for any violation of the Terms of Service, Privacy Policy or applicable laws.
      4.6 The Platforms and Services may contain links to third-party websites or resources. You acknowledge and agree
      that we are not responsible or liable for the availability or accuracy of such links, where they refer to and
      all available Content through these links. You acknowledge responsibility for and assume all risk arising from
      your use of any such links.
    </div>

    <div class="title">5. INTELLECTUAL PROPERTY RIGHTS</div>

    <div class="txt">
      5.1 The Platforms and Services contain works owned and created by us, and they are protected by copyright,
      trademark, patent and other intellectual property laws. We do not grant you or any other party any right, title
      or interest in any Content in the Platforms and Services.
      5.2 You may not use any of Content. If there are no specific restrictions, you may copy a part of Content,
      presuming that the copies are made only for your personal use and that you maintain all copyright notices,
      trademarks, and other intellectual property notices.
      5.3 To the extent allowed by the applicable law, you waive any intellectual property rights including, but not
      limited to, moral rights you may have in any Content.
      5.4 We are not responsible for your ideas and information you share with other users. If you have an idea or
      information that you would like to keep confidential or you do not want others to use, do not publish it.
      5.5 If you think that any Content infringes your intellectual property rights or intellectual property rights of
      a third party you shall notify us through service@resport.today. Upon notification of infringement through the
      E-Mail we respond
      to remove, or disable access to, the Content that is claimed to be infringing or to be the subject of infringing
      activity unless the Content is used in fair use or your notification is misleading.
    </div>

    <div class="title">6. MONITORING USE OF THE PLATFORMS AND CONTENT</div>

    <div class="txt">
      6.1 We shall have no obligation to monitor any Content and we are not responsible for monitoring the Platforms
      for inappropriate or illegal Content or behavior by other users, visitors or third parties. We shall have the
      right, at our sole discretion, to edit, refuse to publish, or remove any Content.
      6.2 We may, at our discretion, choose to monitor or record your interaction within the Platforms or your
      communication with other users, visitors or third parties.
      6.3 We shall not be responsible for Content provided by other users. If someone is violating the Terms of
      Service or misusing the Platforms or the Services, please notify us through the e-mail and we will take
      reasonable steps to resolve this situation.
    </div>

    <div class="title">7. RULES OF COMMUNICATION</div>

    <div class="txt">
      7.1 You are responsible for your interactions with other users, visitors or third parties in accordance with the
      Terms of Service and the applicable law. You shall communicate and deal with other users in a bona fide,
      acceptable and respectful manner.
      7.2 If you have a dispute with another user, visitors or third parties you release us from responsibility,
      claims, demands or damages (actual or consequential) of every kind and nature, whether known or unknown,
      resulting from that dispute or connected to the dispute including, but not limited to, damages for loss of
      profits, goodwill, use or data to the extend allowed by applicable law.
    </div>

    <div class="title">8. LIMITATION OF LIABILITY</div>

    <div class="txt">
      8.1 THE PLATFORMS AND THE SERVICES, INCLUDING ALL SCRIPTS, APPLICATIONS, CONTENT AND THE PLATFORMS DESIGN ARE
      MADE AVAILABLE ON THE “AS IS” BASIS. WE DISCLAIM ALL WARRANTIES THAT THE PLATFORMS OR THE SERVICES MAY BE
      SUITABLE OR UNSUITABLE FOR ANY SPECIFIC PURPOSES OF USE. WE CANNOT GUARANTEE AND DOES NOT PROMISE ANY SPECIFIC
      RESULTS OF USE OF THE PLATFORMS AND/OR THE SERVICES.
      8.2 FOR THE AVOIDANCE OF MISUNDERSTANDINGS, YOU SHOULD BE CAREFUL WHEN DOWNLOADING FROM THE PLATFORMS OR VIA THE
      LINKS AND USING ANY FILES, INCLUDING SOFTWARE. WE STRONGLY RECOMMEND USING ONLY LICENSED SOFTWARE, INCLUDING
      ANTIVIRUS SOFTWARE.
      8.3 BY USING THE PLATFORMS YOU AGREE THAT YOU DOWNLOAD MATERIALS FROM OR VIA THE PLATFORMS ON YOUR PERSONAL RISK
      AND BEAR PERSONAL LIABILITY FOR THE POSSIBLE CONSEQUENCES OF USING THESE MATERIALS, INCLUDING THE DAMAGE IT CAN
      CAUSE TO YOUR COMPUTER OR THIRD PARTIES, FOR DATA LOSS OR ANY OTHER DAMAGE.
      8.4 UNDER NO CIRCUMSTANCES WE OR OUR REPRESENTATIVES BEAR LIABILITY TO YOU OR ANY THIRD PARTIES FOR ANY
      INDIRECT, ACCIDENTAL, UNINTENTIONAL DAMAGE, INCLUDING LOST PROFIT OR LOST DATA, DAMAGE TO THE HONOR, DIGNITY OR
      BUSINESS REPUTATION IN CONNECTION WITH THE USE OF THE PLATFORMS, ITS CONTENT OR OTHER MATERIALS WHICH BECAME
      AVAILABLE TO YOU OR OTHER PERSONS THROUGH THE PLATFORMS, EVEN IF WE HAVE WARNED OF, OR INDICATED TO THE
      POSSIBILITY OF SUCH DAMAGE.
      8.5. If your domestic law does not allow these disclaimers or limitation of liability they do not apply to you.
      If your domestic law requires a certain period for which a warranty applies, it will be either the shorter of 30
      (thirty) days from your first use of the Platforms and/or the Services or the shortest period required by law.
    </div>

    <div class="title">9. MISCELLANEOUS</div>

    <div class="txt">
      9.1. The Terms of Service constitute the whole understanding and agreement between you and us concerning the use
      of the Platforms and the Services and supersede all previous agreements between you and us. At our discretion,
      we are entitled to change, modify, add or remove any provision of the Terms of Service at any time by publishing
      the amended Terms of Service on the Platforms (such as through notifications or your e-mail). We may provide an
      additional notice, such as messaging within the Platforms. Unless we state otherwise, changes are effective when
      published. If you continue to use the Platforms and Services after the changes are published you agree to the
      changes.
      9.2. The Terms of Service are governed and construed in accordance with Russian legislation without regard to
      its conflict of laws rules. Those issues which are not settled by the Terms of Service are subject to Russian
      legislation. Any dispute arising out of the Terms of Service and Privacy Policy shall exclusively be submitted
      to the competent courts in the Russian Federation.
      9.3. In case any disputes or differences arise in connection with the fulfillment of the Terms of Service, you
      and we will make every effort to resolve these by negotiations. Those disputes which are not resolved by
      negotiations are to be resolved according to the procedure established by effective Russian legislation.
      9.4. The Terms of Service become binding upon you from the time of your accession and are valid during an
      indefinite period unless the Terms of Service are terminated.
      9.5. The Terms of Service are made in English and may be provided to you for familiarization in another
      language. In case of discrepancies between the English and the foreign language versions of the Terms of
      Service, the English language version will prevail.
      9.6. In the event that one or more provisions hereof become invalid or unenforceable for any reason, this will
      not affect the validity or applicability of the remaining provisions.
      9.7 The Platforms and Services are intended solely for persons who are 18 or older. Any access to or use of the
      Platforms, Services or Content by anyone under 18 is expressly prohibited. By accessing or using the Platforms,
      Services or Content you represent and warrant that you are 18 or older.
      9.8 We may give our rights, or our obligations, under the Terms of Service or Privacy Policy to any legal entity
      or individual at any time with or without your consent. You may not give your rights or your obligations under
      the Terms of Service or Privacy Policy without getting our written consent, and any attempt to do so without our
      consent is void.
      9.9. We are not liable for any changes or problems out of our control including, but not limited to, changes or
      problems caused by natural disasters, war, terrorism including, but not limited to, cyber terrorism and hacking
      activities, riots, embargoes, acts of civil or military authorities, fire, floods, accidents, network
      infrastructure failures, strikes, or shortages of transportation facilities, fuel, energy, labor or materials.
    </div>
  </div>
</div>
