.trending-activities {
  margin-top: -30px;

  .trending-item {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    padding-top: 79px;

    .heading {
      .category {
        font-size: 28px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      .trending-more-button {
        margin-top: -5px;
        margin-left: 20px;
      }
      .trending-users,
      .trending-tags {
        margin-top: 10px;
      }
      .trending-users {
        margin-bottom: 10px;
        float: left;
        margin-top: 10px;

        .trending-user {
          float: left;
          margin-right: 10px;
          font-size: 13px;
          border-bottom: 1px solid #ccc;
          margin-bottom: 5px;
        }
      }
    }
    .activity-item {
      border-bottom: 0;
      height: 500px;
    }
    .more-results {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
      width: 200px;
    }
  }

  // Mobiles ========================================================================
  @media only screen and (min-width: 320px) and (max-width: 992px) {
    .trending-item {
      .heading {
        padding-top: 0;
        .trending-users,
        .trending-tags {
          width: 100%;
        }
      }
    }
  }
}
