<div class="trending-activities" ng-cloak>
  <div class="trending-item">
    <div class="heading">
      <div class="page-header">
        {{category|uppercase}}
      </div>
      <div class="trending-tags">
        <tags data="trending.tags"
              max="25">
        </tags>
      </div>
      <div class="trending-users">
        <a ui-sref="activityCollection({userName: user.username})"
           class="trending-user"
           ng-repeat="user in trending.users">
          {{user.username}}
        </a>
      </div>
    </div>

    <div class="activity-stream">
      <div ng-repeat="activity in trending.activities">
        <activity-card activity="activity"/>
      </div>
    </div>
  </div>
</div>

<category-activities category="category"></category-activities>
