<div ng-include="'/app/Activity/views/activity-stream.html'"></div>

<aside class="sidebar">
  <h3 class="header">
    Tags
  </h3>
  <h3 class="header">
    Stories
  </h3>

  <div class="heading" ng-if="false">
    <a ui-sref="trendingCategory({category: t.category})" class="category">
      {{t.category}}
    </a>
    <md-button ui-sref="trendingCategory({category: t.category})" class="trending-more-button md-default md-raised">
      More
    </md-button>
    <div class="trending-tags">
      <tags data="t.tags"
            max="25">
      </tags>
    </div>
    <div class="trending-users">
      <a ui-sref="activityCollection({userName: user.username})" class="trending-user" ng-repeat="user in t.users">
        {{user.username}}
      </a>
    </div>
  </div>

</aside>
