<div class="actions">
  <ul class="related">
    <li>
      <activity-like activity="activity"></activity-like>
    </li>
    <li>
      <a
        ui-sref="activityDetails({userName: activity.user.username, activitySlug: activity.slug})"
        ng-class="appState == 'activityDetails' ? 'active' : ''"
      >
        <md-tooltip hide-xs md-direction="right">Read the story</md-tooltip>
        Story
      </a>
    </li>
    <li>
      <a ui-sref="activityDetailsYouTube({userName: activity.user.username, activitySlug: activity.slug})"
         ng-class="appState == 'activityDetailsYouTube' ? 'active' : ''"
      >
        <md-tooltip hide-xs md-direction="right">Related from Youtube</md-tooltip>
        YouTube
      </a>
    </li>
    <li>
      <a ui-sref="activityDetailsRelated({userName: activity.user.username, activitySlug: activity.slug})"
         ng-class="appState == 'activityDetailsRelated' ? 'active' : ''"
      >
        <md-tooltip hide-xs md-direction="right">Related stories</md-tooltip>
        Related Stories
      </a>
    </li>
  </ul>
</div>

<activity-like class="activity-details-like" activity="activity"></activity-like>
<md-button class="page-close md-icon-button" ng-click="close()">
  <i class="material-icons">close</i>
</md-button>
