html {
  height: 100%;
  background: #fff !important;

  body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif !important;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1;
    background: #fff !important;

    * {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
      box-sizing: border-box;
      //font-weight: 400;
      //color: #777;
    }

    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active {
      box-shadow: none !important;
      outline: none !important;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    p {
      color: #333;
    }
  }
}
