<div class="landing-page">
  <div class="actions">
    <div class="page-header">
      {{errorTitle}}
    </div>

    <div class="intro-text">
      Sorry for inconvenience, error report with detailed information was sent to us.
    </div>

    <div class="login-buttons">
      <md-button class="md-default md-raised" ui-sref="about">Contact Us</md-button>
      <div class="or-separator">
        <span>or</span>
      </div>
      <md-button class="md-default md-raised"
                 style="margin-top: -10px"
                 ui-sref="homepage">
        Go to Homepage
      </md-button>
    </div>

  </div>
  <div ng-include="'/app/Layout/views/banner.html'"></div>
</div>

