<div id="navigation-header">
  <div class="account" ng-if="user">
    <div ng-include="'/app/Layout/views/header-menu.html'"></div>

    <md-button class="--primary --icon" ui-sref="stream">
      <i class="material-icons">dashboard</i>
      <span class="hide-xs">Stream</span>
    </md-button>
    <md-button class="--secondary --icon" ui-sref="trending">
      <i class="material-icons">whatshot</i>
      <span hide-xs>Hot</span>
    </md-button>
    <md-button class="--secondary --icon" ui-sref="latest">
      <i class="material-icons">history</i>
      <span>Latest</span>
    </md-button>
    <activity-new></activity-new>

    <div class="user-account-header" ng-include="'/app/Layout/views/nav-profile.html'"></div>
    <quick-search></quick-search>
  </div>

  <div class="account" ng-if="!user">
    <div ng-include="'/app/Layout/views/header-menu.html'"></div>

    <md-button class="--primary --icon" ui-sref="trending">
      <i class="material-icons">whatshot</i>
      <span>Hot</span>
    </md-button>
    <md-button class="--primary --icon" ui-sref="latest">
      <i class="material-icons">history</i>
      <span>Latest</span>
    </md-button>

    <quick-search></quick-search>
    <div hide-xs class="user-account">
      <user-auth></user-auth>
    </div>
  </div>
</div>
