<md-menu md-position-mode="target-right target">
  <div class="trigger" ng-click="showUserDropdown($mdMenu, $event)">
    <div class="username">{{user.username}}</div>
  </div>

  <md-menu-content class="profile-dropdown" width="2" ng-controller="UserCtrl">
    <md-menu-item>
      <md-button ui-sref="activityCollection({userName: user.username})">
        <div layout="row" flex>
          <p flex>
            My Profile
          </p>
        </div>
      </md-button>
    </md-menu-item>

    <md-menu-item>
      <md-button ui-sref="userInformation">
        <div layout="row" flex>
          <p flex>Settings</p>
        </div>
      </md-button>
    </md-menu-item>

    <md-menu-item>
      <md-button ng-click="signOut()">
        <div layout="row" flex>
          <p flex>Log Out</p>
        </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
